<footer style="position: absolute; bottom: 0; width: 100%;" class="footer mt-auto py-3 bg-dark">
    <div class="container-fluid text-white text-center">
      <span>Copyright © 2022 PrzepisyPL | Designed by: Mateusz Trzebiatowski | Mciej Zarzycki</span>
    </div>
  </footer>