<footer style="position: fixed; bottom: 0; width: 100%;" class="footer mt-auto py-3 bg-dark">
	<div class="container-fluid text-white text-center">
		<span>Copyright © 2024 PrzepisyPL | Designed by: Mateusz Trzebiatowski | Maciej Zarzycki</span>
	</div>
</footer>
