<!DOCTYPE html>
<html>
<head>
    <title>All Recipes</title>
</head>
<body>
    <%- include('../layout', { user: user }) %>
    <h1>All Recipes</h1>
    <% if (user) { %>
        <h2>Welcome, <%= user.username %>!</h2>
    <% } %>
    <ul>
       Hello World
    </ul>
    <h1>All Recipes</h1>
<ul>
    <% recipes.forEach(recipe => { %>
        <li><%= recipe.title %></li>
    <% }); %>
</ul>
</body>
</html>