<!DOCTYPE html>
<html>
<head>
    <title>All Recipes</title>
</head>
<body>
    <%- include('../layout') %>
    <h1>All Recipes</h1>
    <ul>
        <% if (user) { %>
            Hello, <%= user.username %>!
        <% } else { %>
            Hello!
        <% } %>
    </ul>
</body>
</html>